<!DOCTYPE html>
<html>
  <head>
    <title>Tarun's Blog</title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h1>Tarun's Blog</h1>
      <% if (posts.length == 0) { %>
        <h5>No posts yet. Check back later!</h5>
      <% } else { %>
        <% for (var i = 0; i < posts.length; i++) { %>
          <% post = posts[i] %>
          <% if (i != 0) { %>
            <hr>
          <% } %>
          <h4><u><%= post.title %></u></h4>
          <h5>Posted on <%= post.postDate.toLocaleDateString() %></h5>
          <p><%= post.preview() %></p>
        <% } %>
      <% } %>
    </div>
  </body>
</html>
