<!DOCTYPE html>
<html>
  <head>
    <title>Tarun's Blog</title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <h5><i>Posted on <%= postDate.toLocaleDateString() %></i></h5>
      <% for (var part of body) { %>
        <p><%= part %></p>
      <% } %>
    </div>
  </body>
</html>
